
<!DOCTYPE html>
<html lang="zh-CN" style="height: 85%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>zzzmh's Blog - Design & Programming By zmh</title>
    
<link rel="icon" type="image/png" href="image/logo/favicon2.ico">
<c:if test="true">
    <link href="../static/css/bootstrap.min_1.css" rel="stylesheet"/>
    <link href="../static/css/share.min_1.css" rel="stylesheet"/>
</c:if>
<c:if test="false">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/share.min.css" rel="stylesheet">
</c:if>
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/owl.carousel_1.css">
<link rel="stylesheet" href="../static/css/magnific-popup_1.css">
<link rel="stylesheet" href="../static/css/flexslider_1.css">
<link rel="stylesheet" href="../static/css/style_1.css">
<link rel="stylesheet" href="../static/css/green_1.css">
<link rel="stylesheet" href="../static/css/loading_1.css">
<link rel="stylesheet" href="../static/css/prettifycode_1.css">
<script type="text/javascript" src="../static/js/baidu.js"></script>
</head>
<body class="home" style="height: 100%">
<script src="../static/js/loading.js"></script>
<header class="row transparent white" data-offset-top="300" id="header" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row top-header">
            <div class="col-sm-4 search-form-col">
                <a class="search-form" style="cursor:pointer;" href="contact">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="../static/picture/mail-icon-dark.png" alt=""></span>
                        <span class="form-control">留言</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 logo-col text-center">
                <a href="/"><img src="../static/picture/1.png" width="200"></a>
            </div>
            <div class="col-sm-4 menu-trigger-col">
                <button class="menu-trigger black pull-right">
                    <span class="active-page">菜单</span>
                    <img src="../static/picture/menu-align-dark.png" alt="" class="icon-burger">
                    <img src="../static/picture/menu-close-dark.png" alt="" class="icon-cross">
                </button>
            </div>
        </div>
    </div>
    <div class="row menu-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 menu-col">
                    <div class="row">
                        <ul class="nav column-menu white-bg">
                            <li><a href="/">首页</a></li>
                            <li><a href="about">关于我</a></li>
                        </ul>
                        <ul class="nav column-menu white-bg">
                            <li><a href="http://bz.zzzmh.cn" target="_blank">极简壁纸</a></li>
                            <li><a href="http://chrome.zzzmh.cn" target="_blank">极简插件</a></li>
                        </ul>
                        <ul class="nav column-menu white-bg">
                            <li><a href="https://github.com/18121259693" target="_blank">GITHUB</a></li>
                            <li><a href="https://leanote.zzzmh.cn/" target="_blank">技术笔记</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div style="height: 100%;">
    <iframe id="iframe" src="impress.html" style="width: 100%;height: 100%;"></iframe>
</div>
<div id="goNext"
     style="right: 10%;bottom: 10%;position: absolute;background-color: #000000;opacity: 0.3;z-index: 1000;cursor:pointer;"
     onclick="goNext()">
    <span id="spanNext" style="font-size: 250%;color: #FFFFFF;opacity: 0.8;margin: 20px">下一页</span>
</div>
<div id="goPrev"
     style="left: 10%;bottom: 10%;position: absolute;background-color: #000000;opacity: 0.3;z-index: 1000;cursor:pointer;"
     onclick="goPrev()">
    <span id="spanPrev" style="font-size: 250%;color: #FFFFFF;opacity: 0.8;margin: 20px">上一页</span>
</div>

<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <!-- logo -->
            <div class="widget col-md-4 col-sm-4 widget-about">
                <div class="row m0"><a href="/"><img src="../static/picture/21.png" alt=""></a></div>
                <div style="margin: 10px 15px" id="firend">
                    友情链接:
                    <a href="http://csyd.xyz" target="_blank" style="white-space:nowrap;">csyd 个人博客</a>
                    <a href="https://chungzh.cn" target="_blank" style="white-space:nowrap;">ChungZH</a>&nbsp;
                    <a href="http://qhjack.cn" target="_blank" style="white-space:nowrap;">起航天空</a>&nbsp;
                    <a href="https://blog.yiranzai.cn" target="_blank" style="white-space:nowrap;">yiranzai</a>&nbsp;
                    <a href="https://alili.tech" target="_blank" style="white-space:nowrap;">前端大爆炸</a>&nbsp;&nbsp;
					<a href="https://www.jiangweishan.com" target="_blank" style="white-space:nowrap;">Web前端之家</a>&nbsp;
					<a href="https://www.wulintang.cn" target="_blank" style="white-space:nowrap;">伍林堂工作室</a>&nbsp;
					<a href="http://www.mybj123.com" target="_blank" style="white-space:nowrap;">前端博客</a>&nbsp;
					<br>
                    <a href="https://www.upyun.com" target="_blank" style="margin:0px 8px"><img
                            src="../static/picture/ypy.png" width="60px"></a>
                    <a href="https://myssl.com/zzzmh.cn?from=mysslid" target="_blank" style="margin:0px 8px"><img
                            src="../static/picture/myssl-id3-logo-1.png" alt="" width="45px"></a>
                </div>
                <div class="row">
                    <h5 class="copyright" style="margin: 5px 30px;color: #666;">沪ICP备18011999号</h5>
                </div>
            </div>
            <!-- 联系方式 -->
            <div class="widget col-md-4 col-sm-4 widget-menu">
                <div class="row">
                    <p>线上作品:</p>
                    <p style="padding-left: 40px">
                        <a href="https://bz.zzzmh.cn" target="_blank">
                            <img src="../static/picture/bz.jpg" width="35%">
                        </a>
                        <a href="https://chrome.zzzmh.cn" target="_blank">
                            <img src="../static/picture/chrome.jpg" width="35%">
                        </a>
                    </p>
                    <p>联系方式</p>
                    <ul class="contacts">
                        <li class="fa fa-github"><a href="https://github.com/18121259693" target="_blank">github.com/18121259693</a>
                        </li>
                        <li class="fa fa-pencil-square-o"><a href="https://www.jianshu.com/u/0ffc2d2e2da1" target="_blank">jianshu.com/u/0ffc2d2e2da1</a>
                        </li>
                        <li class="fa fa-envelope-o"><a href="mailto:admin@zzzmh.cn">admin@zzzmh.cn</a></li>
                    </ul>
                </div>
            </div>
            <!-- 二维码 -->
            <div class="widget col-md-4 col-sm-4 widget-subscribe">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: center;">
                    <img src="../static/picture/wechat.jpg" width="130" height="130" style=""/>
                    <p style="text-align: center;">个人微信</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: center;">
                    <img src="../static/picture/wechatmp.jpg" width="130" height="130" style=""/>
                    <p style="text-align: center;">公众微信</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<c:if test="true">
    <script src="../static/js/jquery-2.2.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/social-share.min.js"></script>
</c:if>
<c:if test="false">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/social-share.min.js"></script>
</c:if>
<script src="../static/js/app.js"></script>
<script type="text/javascript">loadContact();</script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/js/isotope.pkgd.min.js"></script>
<script src="../static/js/jquery.flexslider-min.js"></script>
<script src="../static/js/prettify.js"></script>
<script src="../static/js/theme.js"></script>
<script src="../static/js/l2dwidget.min.js"></script>
<script type="text/javascript">
    var config = {
        model: {
            jsonPath: 'https://cdn1.zzzmh.cn/live2DModel/hijiki/assets/hijiki.model.json',
        },
        display: {
            superSample: 1,
            width: 245,
            height: 245,
            position: 'right',
            hOffset: 0,
            vOffset: 0,
        },
        mobile: {
            show: false,
            scale: 1,
            motion: false,
        },
        react: {
            opacityDefault: 1,
            opacityOnHover: 0.75
        }
    }
</script>
<script type="text/javascript">
    $(function () {
        $('#iframe').focus();//获取焦点
    });
    function goNext() {
        $("#iframe")[0].contentWindow.next();
    }
    function goPrev() {
        $("#iframe")[0].contentWindow.prev();
    }
</script>
</body>
</html>
